.navContent {
    color: #ffffff;
    display: flex;
    margin-right: 450px;
    align-items: center;
    margin-bottom: 10px;
}
.con, .con_market {
    margin: 0px 2px;
    background-color: #0D131A;
    font-family: Haas Grot Text R;
    font-weight: 600;
    padding: 6px 10px;
}
.con:hover {
    border: rgba(249, 250, 251, .15);
    background-color: #535f6d;
    border-radius: 50px;
    cursor: pointer;
}
/* .con_market:hover, .con_market.selected {
    border: rgba(249, 250, 251, .15);
    background-color: #516070;
    border-radius: 50px;
    cursor: pointer;
} */
.con_market {
    background-color: #516070;
    border-radius: 50px;
    cursor: pointer;
}
