.container {
    width: 100%;
    display: flex;
    overflow: auto;
    /* min-height: 150vh; */
    align-items: center;
    flex-direction: column;
}
.main {
    /* margin-top: 200px; */
    gap: 20px;
    top: 172px;
    left: 368px;
    width: 1184px;
    display: flex;
    padding: 0 20px;
    align-items: flex-start;
    flex-direction: column;
}
.divpanel {
    display: flex;
    padding: 40px 40px 32.3800048828125px;
    overflow: hidden;
    align-items: flex-start;
    /* border-radius: 8px; */
    background-color: rgba(29, 40, 51, 1);
}
.divpanel1 {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    background-color: rgba(29, 40, 51, 1);
}
.divpanelmarketsassetscontent {
    display: flex;
    padding: 0 40px;
    overflow: hidden;
    align-items: flex-start;
}
.table {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.row {
    width: 1064px;
    height: 80px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 500;
}
.pre-data {
    top: 18px;
    left: 48px;
    width: 127px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.data {
    top: 40px;
    left: 48px;
    width: 127px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    font-size: 12px;
    color: rgba(122, 138, 153, 1);
}
.main-img {
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.data01 {
    top: 18px;
    left: 246.97999572753906px;
    width: 143px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.sub-data01 {
    top: 50px;
    left: 246.97999572753906px;
    width: 196px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    height: 0.22em;
    overflow: hidden;
    border-radius: 15px;
    background-color: #2B3947;
}

.data02 {
    top: 32px;
    left: 483.7200012207031px;
    width: 67px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.data03 {
    top: 32px;
    left: 599.7999877929688px;
    width: 67px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.data04 {
    top: 32px;
    left: 716.0900268554688px;
    width: 67px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.data05 {
    top: 32px;
    left: 832.4099731445312px;
    width: 67px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.data06 {
    top: 32px;
    left: 948.8400268554688px;
    width: 81px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.data07 {
    top: 22px;
    left: 1px;
    width: 36px;
    height: 36px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 18px;
}
.supplyTooltip:hover {
    cursor: pointer;
    /* background-color: red; */
    /* display: none; */
}
.values {
    color: rgba(122, 138, 153, 1);
    font-size: 13px;
    padding-left: 10px;
    font-weight: bold;
}
.sub-typo {
    padding-top: 100px;
    font-size: 12.5px;
    font-weight: 500;
}
